
#home-page .profile-avatar {
    margin: 0.5em;
    height: 3em;
    width: 3em;
}

.fabButton {
    margin-right: 4%;
}

.menuButtons {
    flex-direction: column;
    color:white;
}

.menu {
    background-color: #009688;
    width:200%;
    margin-right: 100%;
}

.searchBar {
    color: white;
    margin-top: 5%;
}

ion-list {
    padding: 1em;
}