.userWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userName {
    margin-right: 2%;
}

#home-page .profile-avatar {
    margin: 0.5em;
    height: 3em;
    width: 3em;
}

.fabButton {
    margin-right: 4%;
}

.menuButtons {
    flex-direction: column;
    color:white;
}

.menu {
    background-color: #009688;
    width:200%;
    margin-right: 100%;
}

.searchBar {
    width: 100%;
    color: lightgray;
    background-color: hsl(223, 7%, 20%);
    font-size: 1em;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchIcon {
    font-size: 1em;
    margin-left: 2em;
}

ion-list {
    padding: 1em;
}

.backdrop {
    opacity: 0.3;
}